div {
	margin-top: 20px;
	text-align: center;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  padding: 5px;
}

.badges {
  margin: 16px 0;
  text-align: center;
}

img {
	margin-left: 4px;
	margin-right: 4px;
}

input {
  width: 320px;
}

hr {
  margin: 40px 0;
}

.button {
  text-decoration: none;
  border: solid 1px #4CAF50;
  padding: 10px 20px;
  background-color: #66BB6A;
  color: #fff;
}

.button:hover {
  background-color: #4CAF50;
}