div {
	margin-top: 20px;
	text-align: center;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  padding: 5px;
}

.badges {
  margin: 16px 0;
  text-align: center;
}

img {
	margin-left: 4px;
	margin-right: 4px;
}

input {
  width: 320px;
}

hr {
  margin: 40px 0;
}

.button {
  text-decoration: none;
  padding: .5rem 1rem;
  background-color: #2E7D32;
  color: #fff;
}

.button:hover {
  background-color: #1B5E20;
}
